_/Code Bundle/9205EN_02_Codes/source_code_ch2/AxisJAXWSasyncSample/wsdl/ReservationService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>  
<wsdl:definitions targetNamespace="http://org.packt.ws.jaxws.async/reservation"  
             xmlns:msgel="http://org.packt.ws.jaxws.async/elts"
             xmlns:res="http://org.packt.ws.jaxws.async/reservation"                             
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"    
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"                   
             xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
             xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">  
  <wsdl:types>  
    <xsd:schema targetNamespace="http://org.packt.ws.jaxws.async/elts"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
                elementFormDefault="qualified">  
      <xsd:element name="ReservationEl" type="msgel:ReservationType"/>  
      <xsd:complexType name="ReservationType">  
        <xsd:sequence>  
          <xsd:element name="hotelName" type="xsd:string"/>  
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="lastname" type="xsd:string"/>
          <xsd:element name="price" type="xsd:int"/>
          <xsd:element name="noOfNights" type="xsd:int"/>  
        </xsd:sequence>  
      </xsd:complexType>  
      <xsd:element name="ReservationConfirmationEl" type="msgel:ReservationConfirmationType"/>  
      <xsd:complexType name="ReservationConfirmationType">  
        <xsd:sequence>  
          <xsd:element name="confirmationId" type="xsd:string"/>              
        </xsd:sequence>  
      </xsd:complexType>  
    </xsd:schema>  
  </wsdl:types>  
  <wsdl:message name="Reservation">  
    <wsdl:part name="payload" element="msgel:ReservationEl"/>  
  </wsdl:message>  
  <wsdl:message name="Confirmation">  
    <wsdl:part name="payload" element="msgel:ReservationConfirmationEl"/>  
  </wsdl:message>  
  <wsdl:portType name="DoReservationAsync">  
    <wsdl:operation name="reserve">  
	  <jaxws:bindings>
        <jaxws:enableAsyncMapping>true</jaxws:enableAsyncMapping>
      </jaxws:bindings>    
      <wsdl:input message="res:Reservation" wsaw:Action="http://org.packt.ws.jaxws.async/reservation/reserve"/>
      <wsdl:output message="res:Confirmation" wsaw:Action="http://org.packt.ws.jaxws.async/reservation/confirm"/>  
    </wsdl:operation>  
  </wsdl:portType>  
  <wsdl:binding name="DoReservationBind" type="res:DoReservationAsync">  
    <wsaw:UsingAddressing required="true"/>  
    <soap:binding style="document"  
                  transport="http://schemas.xmlsoap.org/soap/http"/>  
    <wsdl:operation name="reserve">  
      <!-- soap:operation style="document"  
                      soapAction="http://org.packt.ws.jaxws.async/reservation/confirm"/-->  
      <wsdl:input>  
        <soap:body use="literal" parts="payload"/>  
      </wsdl:input>
      <wsdl:output>  
        <soap:body use="literal" parts="payload"/>  
      </wsdl:output>          
    </wsdl:operation>  
  </wsdl:binding>  
  <wsdl:service name="ReservationService">  
    <wsdl:port name="DoReservationAsyncPort" binding="res:DoReservationBind">  
      <soap:address location="http://localhost/reservation"/>  
    </wsdl:port>
  </wsdl:service>  
</wsdl:definitions>  

