_/Code Bundle/9205EN_01_Codes/source_code/bpel-101-HelloWorld/bpel-101-HelloWorld/HelloWorldProxyFault/src/org/packt/bpel/sync/helloworldprocess_client_ep.wsdl

<wsdl:definitions
     name="HelloWorldProcess"
     targetNamespace="http://xmlns.oracle.com/bpel_101_HelloWorld_jws/bpel_101_HelloWorld/HelloWorldProcess"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:client="http://xmlns.oracle.com/bpel_101_HelloWorld_jws/bpel_101_HelloWorld/HelloWorldProcess"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://medion:7001/soa-infra/services/default/bpel-101-HelloWorld!1.0/HelloWorldProcess.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="HelloWorldProcess">
        <plnk:role name="HelloWorldProcessProvider">
            <plnk:portType name="client:HelloWorldProcess"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/bpel_101_HelloWorld_jws/bpel_101_HelloWorld/HelloWorldProcess"
                 schemaLocation="HelloWorldProcess.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="HelloWorldProcessRequestMessage">
        <wsdl:part name="payload" element="client:process"/>
    </wsdl:message>
    <wsdl:message name="HelloWorldProcessResponseMessage">
        <wsdl:part name="payload" element="client:processResponse"/>
    </wsdl:message>
    <wsdl:message name="ProcessFaultMessage">
        <wsdl:part name="message" element="client:fault"/>
    </wsdl:message>
    <wsdl:portType name="HelloWorldProcess">
        <wsdl:operation name="process">
            <wsdl:input message="client:HelloWorldProcessRequestMessage"/>
            <wsdl:output message="client:HelloWorldProcessResponseMessage"/>
            <wsdl:fault name="fault" message="client:ProcessFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldProcessBinding" type="client:HelloWorldProcess">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="helloworldprocess_client_ep">
        <wsdl:port name="HelloWorldProcess_pt" binding="client:HelloWorldProcessBinding">
            <soap:address location="http://medion:7001/soa-infra/services/default/bpel-101-HelloWorld/helloworldprocess_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
